<% #if @current_user.present? %>
<div class="container">
  <div class="row">
    <%= form_tag(:action => 'add_event_to_calendar') do %>
        <div class='col-sm-2'>
          <input type='text' class="form-control" id='datetimepicker4' name="datetext" placeholder="Velg dato og tid"/>
        </div>
        <div class='col-sm-6'>
          <input type='text' class="form-control" name='eventtext' placeholder="Event her"/>
        </div>
        <div class='col-sm-2'>
          <input type='text' class="form-control" name='pricetext' placeholder="Kostnad"/>
        </div>
        <div class='col-sm-10'>
          <input type='text' class="form-control" name='commenttext' placeholder="Legg til en kommentar"/>
        </div>
        <button type="submit" class="btn btn-default">Legg til event</button>
    <% end %>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker4').datetimepicker();
      });
    </script>
  </div>
</div>
<% #end %>

<div class="container">
  <h2>Kyoto</h2>
  <p class="lead">
    En kalender som viser hva vi skal i Japan!
  </p>

  <div class="alert alert-warning">
    <h4>Hvordan bruke dette</h4>
    <p>Legg til et event, se dine personlige eventer, eller public. For å bruke den private kalenderen, må</p>
    <p>man være logget inn med en gyldig bruker! Den public-kalenderen er tilgjengelig for alle.</p>
    <p>Ting som skjer blir vist her, og din personlige kalender blir ikke vist public.</p>
  </div>

  <hr />

  <div class="agenda">
    <div class="table-responsive">
      <table class="table table-condensed table-bordered">
        <thead>
        <tr>
          <th>Dato</th>
          <th>Klokkeslett</th>
          <th>Event</th>
          <th>Kostnad</th>
          <th>Ulike valg</th>
        </tr>
        </thead>
        <tbody>
        <div class='col-sm-20'>
          <%= form_tag(:action => 'update_calendar_pub_priv') do %>
              <button type="submit" value="public" name="btn" id= "btn" class="btn btn-primary">Public</button>
              <button type="submit" value="private" name="btncheck" id= "btncheck" class="btn btn-primary">Privat</button>
          <% end %>
        </div>
        <% if session[:showprivate] == true %>
            <% for event in @all_events do %>
                <% if @current_user.nil? || event.user_id == @current_user.id.to_s %>
                    <tr>
                      <td class="agenda-date" class="active" rowspan="1">
                        <div class="shortdate text-muted"><%= event.date %></div>
                      </td>
                      <td class="agenda-time">
                        <%= event.time %>
                      </td>
                      <td class="agenda-events">
                        <div class="agenda-event">
                          <%= event.event %>
                        </div>
                      </td>
                      <td class="agenda-cost">
                        <div class="agenda-cost">
                          <%= event.cost %>
                        </div>
                      </td>
                      <td class="agenda-delete">
                        <div class="agenda-delete">
                          <%= form_tag(:action => 'delete_event') do %>
                              <button type="submit" value="<%= event.id%>" name="id" class="btn btn-default">Slett event</button>
                              <button type="button" class="open-showCommentModal btn btn-default" data-toggle="modal" data-id="<%= event.comment %>" data-target="#showCommentModal">Se kommentar </button>
                              <button type="button" class="open-editEventModal btn btn-default" data-toggle="modal" data-date="<%= event.date %>" data-event="<%= event.event %>" data-cost="<%= event.cost %>" data-comment="<%= event.comment %>" data-time="<%= event.time %>" data-eventid="<%= event.id %>" data-target="#editEventModal">Endre event </button>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                <% end %>
            <% end %>
        <% else %>
            <% for event in @all_events do %>
                <% #if event.user_id.nil? || event.user_id == @admin.id.to_s #Vil bare vise eventer som admin har gitt, ikke personlige.%>
                <tr>
                  <td class="agenda-date" class="active" rowspan="1">
                    <div class="shortdate text-muted"><%= event.date %></div>
                  </td>
                  <td class="agenda-time">
                    <%= event.time %>
                  </td>
                  <td class="agenda-events">
                    <div class="agenda-event">
                      <%= event.event %>
                    </div>
                  </td>
                  <td class="agenda-cost">
                    <div class="agenda-cost">
                      <%= event.cost %>
                    </div>
                  </td>
                  <td class="agenda-delete">
                    <div class="agenda-delete">
                      <%= form_tag(:action => 'delete_event') do %>
                          <% #if @current_user.present? && @current_user.admin? %>
                          <button type="submit" value="<%= event.id%>" name="id" class="btn btn-default">Slett event</button>
                          <button type="button" class="open-editEventModal btn btn-default" data-toggle="modal" data-date="<%= event.date %>" data-event="<%= event.event %>" data-cost="<%= event.cost %>" data-comment="<%= event.comment %>" data-time="<%= event.time %>" data-eventid="<%= event.id %>" data-target="#editEventModal">Endre event </button>
                          <% #end %>
                          <button type="button" class="open-showCommentModal btn btn-default" data-toggle="modal" data-id="<%= event.comment %>" data-target="#showCommentModal">Se kommentar </button>
                      <% end %>
                    </div>
                  </td>
                </tr>
            <% end %>
            <% #end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="showCommentModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">
          <p>Kommentar</p>
        </h2>
      </div>
      <div class="modal-body">
        <textarea id="comment" name="comment" class="form-control" rows="5" id="comment" readonly></textarea>

        <script>
          $(document).on("click", ".open-showCommentModal", function () {
            var myEvent = $(this).data('id');
            var element = document.getElementById("comment");
            element.innerHTML = myEvent;
          });
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editEventModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">
          <h4>Oppdater kun det som er nødvendig, la resten stå, save</h4>
        </h2>
      </div>
      <div class="modal-body">
        <%= form_tag(:action => 'update_event') do %>
            <strong><p>Event ID:</p></strong>
            <input type='text' class="form-control" name="eventid" id="eventid" value="" readonly/>
            <strong><p>Dato:</p></strong>
            <input type='text' class="form-control" name="date" id="date" value=""/>
            <strong><p>Event:</p></strong>
            <input type="text" class="form-control" name="event" id="event" value=""/>
            <strong><p>Kostnad:</p></strong>
            <input type="text" class="form-control" name="cost" id="cost" value=""/>
            <strong><p>Klokkeslett:</p></strong>
            <input type="text" class="form-control" name="time" id="time" value=""/>
            <strong><p>Kommentar:</p></strong>
            <textarea id="comment" name="comment" class="form-control" rows="5" id="comment"></textarea>
            <button type="submit" class="btn btn-default">Oppdater!</button>
        <% end %>


        <script>
          $(document).on("click", ".open-editEventModal", function () {
            var eventid = $(this).data('eventid');
            $(".modal-body #eventid").val( eventid );

            var date = $(this).data('date');
            $(".modal-body #date").val( date );

            var event = $(this).data('event');
            $(".modal-body #event").val( event );

            var cost = $(this).data('cost');
            $(".modal-body #cost").val( cost );

            var time = $(this).data('time');
            $(".modal-body #time").val( time );

            var comment = $(this).data('comment');
            $(".modal-body #comment").val( comment );
          });
        </script>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
