

<div class="jumbotron">
  <div class="container">

    <% if @current_facebookuser.present? %>
        <h1>Halla, <%= @current_facebookuser.name%>! <img src="<%= @current_user.profile_pic %>" style="width:100px; height:100px;" > </h1>
    <% else %>
        <h1>Halla, <%= @current_user.username%>! <img src="<%= @current_user.profile_pic %>" style="width:100px; height:100px;"> </h1>
  <% end %>
    <p> Din email: <%= @current_user.email%> </p>
    <p> Du lagde denne brukeren: <%= @current_user.created_at%> </p>
    <p> Admin?: <%= @current_user.admin? %> </p>

    <%= form_tag(:action => 'profile_pic_upload') do %>
        <button type="submit" class="btn btn-sm">Upload pic from facebook</button><i>NB:Krever innlogget facebook bruker.</i>
  <% end %>

    <a <%=link_to "Vis dine bilder", dragonfly_images_path, class: "btn btn-success" %></a>


  </div>
</div>

