

<div class="container bootstrap snippet">
  <% if flash[:notice] == "OKSUB" %>
      <div class="alert alert-success"><strong> Vellykket! Du har subscribet til Thangs Gym. Nyheter om nye produkter vil bli sendt til din epost: <%= @current_user.email %></strong></div>
  <% end %>
  <% if flash[:notice] == "OKUNSUB" %>
      <div class="alert alert-success"><strong> Vellykket! Du har endt din subscription hos Thangs Gym. Du vil ikke motta flere email fra meg.</strong></div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            Endre passord
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
              <img alt="" class="img-thumbnail" src="<%= @current_user.profile_pic %>">
            </div>
            <%= form_tag(:action => 'change_password') do %>

                <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6  login-box">

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">X</div>
                      <input class="form-control" type="text" id="username_or_email" name="username_or_email" placeholder="Brukernavn eller epost" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">X</div>
                      <input class="form-control" type="password" id="login_password" name="login_password" placeholder="Nåværende password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">X</div>
                      <input class="form-control" type="password" id="login_new_password" name="login_new_password" placeholder="Nytt passord">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">X</div>
                      <input class="form-control" type="password" id="login_new_password" name="login_new_password" placeholder="Nytt passord(gjenta)">
                    </div>
                  </div>
                </div>
                </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <button class="btn icon-btn-save btn-success" type="submit">Lagre</button>
                    </div>
                  </div>
                </div>
            <% end %>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6"></div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <% if @subs %>
                      <%= form_tag(:action => 'remove_subscription') do %>
                          <button class="btn icon-btn-save btn-success" type="submit">Unsubscribe</button>
                      <% end %>
                  <% else %>
                      <%= form_tag(:action => 'add_subscription') do %>
                          <button class="btn icon-btn-save btn-success" type="submit">Subscribe</button>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>
</div>


<%= flash[:error] %>
