<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>Treningsprogrammer</h1>
    <p>Jeg har salg!</p>
    </p>
  </header>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <h3>Mine produkter</h3>
    </div>
  </div>

  <div class="row text-center">
    <% for item in @items do %>
        <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <img src="<%= item.picture %>" width="400" height="200" style="width:400px; height:200px">
            <div class="caption">
              <h3><%= item.program %></h3>
              <p><%= item.price %> kr</p>
              <p>
                <%= form_tag(:action => 'add_to_cart') do %>

                    <%= label_tag :need_coach? %>
                    <%= check_box_tag :need_coach?, 1, params[:need_coach?] %>

                  <td><button type="submit" value="<%= item.id%>" name="id" class="btn btn-primary">Legg til i handlekurv</button></td>
              <% end %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

