

<div class="jumbotron">
  <div class="container">
    <% if @current_user.coach.nil? %>
        <p> Ingen kjøp :( </p>
    <% else %>
        <p><strong>Din coach er: <%= @current_user.coach.name %></strong></p>
        <p>Endre coach? Du kan endre coach: <%= @current_user.change_limit %> ganger!</p>

        <%= form_tag(:action => 'select_coach') do %>
            <%= select_tag(:coach, options_for_select(@coaches), {include_blank: 'COACHES'})%>
            <%= submit_tag("Change now!") %>
        <% end %>

        <% for st in Coach.all do%>
            <p> <strong><%= st.name %></strong> coacher nå: <strong><%= st.clients %>/<%= st.limit%></strong></p>
        <% end %>
    <% end%>
  </div>
</div>