

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6"><span class="pull-left">
          <%= form_tag(:action => 'add_items') do %>
            <p><strong>Legg til ting</strong></p>
            <p>Program:</br> <%= text_field_tag(:program) %></p>
            <p>Pris:</br> <%= text_field_tag(:price) %></p>
            <p>Bilde(ikke nødvendig):</br> <%= text_field_tag(:picture) %></p>
            <%= submit_tag("Legg til i databasen") %>
            <% end %>
      </span></div>

      <div class="col-md-6"><span class="">
            <%= form_tag(:action => 'delete_items') do %>
            <p><strong>Fjern et eksisterende element</strong></p>
            <p>Velg program:</p>
            <%= select_tag(:program, options_for_select(@items))%>
            <p></p>
            <%= submit_tag("Fjern fra databasen") %>
      <% end %>
      </span></div>
      <div class="col-md-6"><span class="pull-right">
            <%= form_tag(:action => 'update_items') do %>
            <p><strong>Oppdater et element</strong></p>
            <p>Velg program:</p>
            <%= select_tag(:program, options_for_select(@items))%>

            <p>Nytt program:</br> <%= text_field_tag(:new_program) %></p>
            <p>Ny price($):</br> <%= text_field_tag(:new_price) %></p>
            <p>Bilde(ikke nødvendig):</br> <%= text_field_tag(:new_picture) %></p>
            <%= submit_tag("Update this item") %>
            <% end %>
      </span></div>
    </div>
    <% for user in @is_coaching do %>
        <% if !user.coach.nil?%>
            <p><strong><%= user.coach.name %></strong> coacher i denne stund  <strong><%= user.username %> </strong></p>
        <% end %>
    <% end %>

  </div>
</div>

