

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6"><span class="pull-left">
          <%= form_tag(:action => 'add_items') do %>
            <p><strong>Legg til ting</strong></p>
            <p>Program:</br> <%= text_field_tag(:program) %></p>
            <p>Pris:</br> <%= text_field_tag(:price) %></p>
            <p>Bilde(ikke nødvendig):</br> <%= text_field_tag(:picture) %></p>
            <%= submit_tag("Legg til i databasen") %>
            <% end %>
      </span></div>

      <div class="col-md-6"><span class="">
            <%= form_tag(:action => 'delete_items') do %>
            <p><strong>Fjern et eksisterende element</strong></p>
            <p>Velg program:</p>
            <%= select_tag(:program, options_for_select(@items))%>
            <p></p>
            <%= submit_tag("Fjern fra databasen") %>
      <% end %>
      </span></div>
      <div class="col-md-6"><span class="pull-right">
            <%= form_tag(:action => 'update_items') do %>
            <p><strong>Oppdater et element</strong></p>
            <p>Velg program:</p>
            <%= select_tag(:program, options_for_select(@items))%>

            <p>Nytt program:</br> <%= text_field_tag(:new_program) %></p>
            <p>Ny price($):</br> <%= text_field_tag(:new_price) %></p>
            <p>Bilde(ikke nødvendig):</br> <%= text_field_tag(:new_picture) %></p>
            <%= submit_tag("Update this item") %>
            <% end %>
      </span></div>
    </div>
    <% for user in @is_coaching do %>
        <% if !user.coach.nil?%>
            <p><strong><%= user.coach.name %></strong> coacher i denne stund  <strong><%= user.username %> </strong></p>
        <% end %>
    <% end %>
    <td><button type="button" class="open-showInfoModal btn btn-default" data-toggle="modal" data-target="#showInfoModal"%>Vis alle brukere </button></td>
  </div>
</div>

<div class="modal fade" id="showInfoModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">

          <p>Brukere</p>

        </h2>
      </div>
      <div class="modal-body">
        <div class="container">
          <% for u in @all_users do%>
              <p>Brukernavn: <%= u.username %></p>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




