<div class="jumbotron">
  <div class="container">

    <p>Dine tidligere bookings</p>
    <% for bookings in @list_of_bookings do %>
        <% if @current_user.id == bookings.user_id %>
            <% if bookings == @list_of_bookings.last %>
                <strong> <%= bookings.value %> LOL </strong>
                <p></p>
            <% else %>
                <strong> <%= bookings.value %> </strong>
                <p></p>

            <% end %>
        <% end %>
    <% end %>
    <p></p>
    <p>Din nyeste booking: </p>
    <% if !@current_user.group_exercise.nil?%>

        <%= form_tag(:action => 'remove_booking') do %>
            <strong> <%= @current_user.group_exercise.name %> </strong> with <strong><%= @current_user.group_exercise.intructor %></strong> as instructor.
            <div class="btn-group" role="group" aria-label="...">
              <button type="submit" class="btn btn-default">Remove booking</button>
            </div>
        <% end %>


    <% end %>
  </div>
</div>


