<!DOCTYPE html>
<html>
<head>
  <title>Thangs GYM</title>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" <%=link_to "Hjem", root_url %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a <%=link_to "Profil", profile_path %></a></li>
          <li><a <%=link_to "Innstillinger", setting_path %></a></li>
          <li><a <%=link_to "Treningsprogrammer", shop_path %></a></li>
          <li><a <%=link_to "Bilde dagbok", dragonfly_images_path %></a></li>


          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Ulike valg<span class="caret"></span></a>
            <ul class="dropdown-menu">

              <li><a <%=link_to "Gruppe trening", group_training_path%></a></li>
              <li><a <%=link_to "BMI kalkulator", bmi_calc_path %></a></li>
              <li><a <%=link_to "Øvelser", exercises_body_path %></a></li>
            </ul>
          </li>
        </ul>



        <ul class="nav navbar-nav navbar-right">
          <% if @current_user.nil? %>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle"> Logg inn <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%=link_to "Logg inn", login_path %></li>
                  <li><%=link_to "Koble til med facebook", "/auth/facebook", id: "sign_in"%></li>
                </ul>
              </li>


          <% else %>
              <% if @current_user.admin? %>
                  <li class="form-group">
                    <%= form_tag(:action => 'search_user', :controller => 'admins') do %>
                        <%= text_field_tag(:user_or_email) %>
                        <button type="submit" class="btn btn-default">Submit</button>
                        </li>
                    <% end %>
              <% end %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <% if @current_user.profile_pic.nil? %>
                      <img src="http://placehold.it/30x30" width="30" height="30" class="img-circle special-img">
                  <% else %>
                      <img src="<%= @current_user.profile_pic %>" width="30" height="30" class="img-circle special-img">
                  <% end %>
                  <% if @current_facebookuser.present? %>
                      <%= "Hei, #{@current_facebookuser.name}!"%><span class="caret"></span></a>
                  <% else %>
                      <%= "Hei, #{@current_user.username}!"%><span class="caret"></span></a>
                  <% end %>
                  <ul class="dropdown-menu">
                    <li><a <%=link_to "Min handlekurv", cart_path %></a></li>
                    <li><a <%=link_to "Status", status_path %></a></li>
                    <li><a <%=link_to "Mine Bookings", my_booking_path %></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a <%=link_to "Logg ut", logout_path %></a></li>
                  </ul>
          <% end %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <%= include_gon %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body data-no-turbolink="true">

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'braintree', 'data-turbolinks-track' => true %>

<%= yield %>


</body>

<footer>

  <div class="container text-center">

    <div class="row">
      <div class="col-lg-12">
        <hr>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a <%=link_to "Admin", adminpage_path %></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a <%=link_to "Kontakt meg", contact_path %></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a <%=link_to "Legg igjen en tilbakemelding", review_path %></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a <%=link_to "Kalender", calender_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified">
          <li><a href="/">© 2016 Thang Phan</a></li>
          <li><a href="about_me">Om meg</a></li>
          <li><a href="about_site">Om denne siden</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
</html>



